<section style="min-width:550px;">
  <div class="flexrow" style="min-height:50px;">
    <div class="flexcol flex-border vertical flex-group-center">
      <div class="resource-label">{{localize "KNAVE2E.Slots"}}: </div>
      <div class="resource-label">{{system.slots.value}} / {{system.slots.max}}</div>
    </div>
    <div class="flexcol flex-border vertical flex-group-center">
      <div class="resource-label">{{localize "KNAVE2E.Spells"}}: </div>
      <div class="resource-label">{{system.spells.value}} / {{system.spells.max}}</div>
    </div>
    <div class="flexcol flex-border vertical flex-group-center">
      <div class="resource-label">{{localize "KNAVE2E.Blessings"}}: </div>
      <div class="resource-label">{{system.blessings.value}} / {{system.blessings.max}}</div>
    </div>
    <div class="flexcol flex-border vertical flex-group-center">
      <div class="resource-label">{{localize "KNAVE2E.AmmoBow"}}: </div>
      <input class="resource-label small" type="text" name="system.ammo.arrow" value="{{system.ammo.arrow}}"
        data-dtype="Number" />
    </div>
    <div class="flexcol flex-border vertical flex-group-center">
      <div class="resource-label">{{localize "KNAVE2E.Sling"}} {{localize "KNAVE2E.AmmoSling"}}: </div>
      <input class="resource-label small" type="text" name="system.ammo.bullet" value="{{system.ammo.bullet}}"
        data-dtype="Number" />
    </div>
  </div>

  <br>

  <ol class="items-list">
    <li class="item grid grid-12col  items-header">
      <div class="item-name grid-span-9">{{localize "KNAVE2E.ItemName"}}</div>
      <div class="item-slots grid-span-1">{{localize "KNAVE2E.Slots"}}</div>
      <div class="item-controls grid-span-2">
        <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add
          item</a>
      </div>
    </li>
    {{#each items as |item id|}}
    <li class="item grid grid-12col {{#if system.dropped}}flex-dropped{{/if}}" data-item-id="{{item._id}}">

      <div class="item-image rollable"><a class="item-image rollable grid-span-1"><img src="{{item.img}}"
            title="{{item.name}}" width="36" height="36" /></a></div>

      {{#if (eq item.type "weapon")}}
      <div class="item-name grid-span-5">{{#if item.system.dropped}}({{localize "KNAVE2E.Dropped"}})
        {{/if}}{{item.name}}</div>
      <div class="item-buttons grid-span-3 flexrow flex-group-center">
        <button class="item-button attack sheet" data-action="attack" type="button"
          title={{localize "KNAVE2E.AttackRoll" }}>{{localize "KNAVE2E.AttackAbbr"}}</button>
        <button class="item-button damage sheet" data-action="damage" type="button"
          title={{localize "KNAVE2E.DamageRoll" }}>{{localize "KNAVE2E.DamageAbbr"}}</button>
        <button class="item-button damage sheet" data-action="direct" type="button"
          title={{localize "KNAVE2E.DirectRoll" }}>{{localize "KNAVE2E.DirectAbbr"}}</button>
      </div>
      
      {{else}}
      {{#if (eq item.type "spellbook")}}
      <div class="item-name grid-span-7">{{#if item.system.dropped}}({{localize "KNAVE2E.Dropped"}})
        {{/if}}{{item.name}}</div>
      <div class="item-buttons grid-span-1 flexrow flex-group-center">
        <button class="item-button cast" data-action="cast" type="button">{{localize
          "KNAVE2E.CastAbbr"}}</button>
      </div>

      {{else}}
      <div class="item-name grid-span-8">{{#if item.system.dropped}}({{localize "KNAVE2E.Dropped"}})
        {{/if}}{{item.name}}</div>
      {{/if}}
      {{/if}}

      <div class="item-slots grid-span-1 item-prop">{{item.system.slots}}</div>
      <div class="item-controls grid-span-2">
        {{#if (eq item.type "weapon")}}
        <a class="item-toggle" data-action="break" title={{localize "KNAVE2E.BreakWeaponDetail" }}>
          <i class="fas {{#if item.system.broken}}fa-heart-broken{{else}}fa-heart{{/if}}"></i></a>
        {{/if}}
        {{#if (eq item.type "spellbook")}}
        <a class="item-toggle" data-action="cast" title={{localize "KNAVE2E.CastSpellbookDetail" }}>
          <i class="fas {{#if item.system.cast}}fa-book-open{{else}}fa-book{{/if}}"></i></a>
        {{/if}}
        {{#if (eq item.type "lightSource")}}
        <a class="item-toggle" data-action="light" title={{localize "KNAVE2E.ActivateLightSourceDetail" }}>
          <i class="{{#if item.system.lit}}fas fa-lightbulb{{else}}far fa-lightbulb{{/if}}"></i></a>
        {{/if}}
        {{#if (eq item.system.relic.isRelic true)}}
        <a class="item-toggle" data-action="blessing" title={{localize "KNAVE2E.ActiveBlessingDetail" }}>
          <i class="{{#if item.system.relic.isActive}}fas fa-sun{{else}}fa-regular fa-sun{{/if}}"></i></a>
        {{/if}}
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/each}}
  </ol>
</section>