<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
    <div class="sheet-container">
        {{!-- Sheet Header --}}
        <header class="sheet-header">
            <div id="character-header-grid">

                {{!-- Knave Logo --}}
                <div id="knave-logo" style="min-width:150px">
                    <img class="logo-img" src="systems/knave2e/assets/knave-2e-logo.png" />
                </div>

                {{!-- Character Header Info --}}
                <div id="character-info">
                    <div class="flexrow flex-group-left" id="dotted">
                        <div class="resource-label flex1">{{localize "KNAVE2E.Name"}}</div>
                        <input class="transparent flex3" name="name" type="text" value="{{actor.name}}"
                            placeholder="{{actor.name}}" />
                    </div>
                    <div class="flexrow flex-group-center flex-between" style="margin-top: 5px;">
                        <div class="flexcol flex-group-center">
                            <div class="resource-label small">{{localize "KNAVE2E.Coins"}}: </div>
                            <input class="resource-label transparent small" name="system.coins" value="{{system.coins}}" data-dtype="Number"/>
                        </div>
                        <div class="flexcol flex-group-center">
                            <div class="resource-label small">{{localize "KNAVE2E.Cost"}}</div>
                            <div class="resource-label small">{{system.costPerMonth}}</div>
                        </div>
                        <div class="flexcol flex-group-center">
                            <div class="resource-label">{{localize "KNAVE2E.Type"}}</div>
                            <select name="system.category">{{selectOptions recruitCategories selected=system.category
                                localize=true}}</select>
                        </div>
                        {{#if (ne system.category "expert")}}
                        <div class="flexcol flex-group-center">
                            <div class="resource-label">{{localize "KNAVE2E.Rarity"}}</div>
                            <div class="resource-label small">{{localize system.rarity}}</div>
                        </div>
                        {{else}}
                        <div class="flexcol flex-group-center">
                            <div class="resource-label">{{localize "KNAVE2E.Rarity"}}</div>
                            <select name="system.rarity">{{selectOptions rarityCategories selected=system.rarity
                                localize=true}}</select>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </header>

        <section class="sheet body">
            <div class="flexrow flex-group-center flex-between" style="min-height:50px;">
                <div class="flexcol flex-group-center">
                    <div class="resource-label small">{{localize "KNAVE2E.HitPoints"}}: </div>
                    <div class="flexrow flex-group-center">
                        <input class="resource-label transparent small" name="system.hitPoints.value"
                            value="{{system.hitPoints.value}}" data-dtype="Number" />
                        <span>/</span>
                        <input class="resource-label transparent small" name="system.hitPoints.max"
                            value="{{system.hitPoints.max}}" data-dtype="Number" />
                    </div>
                </div>
                <div class="flexcol flex-group-center">
                    <div class="resource-label small">{{localize "KNAVE2E.ArmorClass"}}</div>
                    <div class="resource-label" id="shield-resource">
                        {{system.armorClass}}
                    </div>
                </div>
                <div class="flexcol flex-group-center">
                    <div class="resource-label small">{{localize "KNAVE2E.ArmorPoints"}}</div>
                    <div class="resource-label" id="circle-resource">
                        {{system.armorPoints}}
                    </div>
                </div>
                <button class="small morale-button" type="button">{{localize "KNAVE2E.Morale"}}</button>
                <button class="small rest-button" type="button">{{localize "KNAVE2E.Rest"}}</button>
            </div>
            <hr>
            {{> "systems/knave2e/templates/actor/parts/actor-recruit-items.hbs"}}
        </section>

        <footer>
            <div class="flexrow flex-group-center">
                <p style="font-size:smaller">Copyright &#169; 2023 <a
                        href="https://www.patreon.com/questingbeast/posts">Ben
                        Milton and Questing Beast LLC.</a> Logo Design by <a
                        href="https://www.behance.net/MindkillerINK?locale=en_US">Tim Hastings</a>.</p>
            </div>
        </footer>
</form>