<form class="{{cssClass}}" autocomplete="off">
    <div id="character-grid">

        {{!-- Knave Logo --}}
        <div id="knave-logo" style="min-width:150px">
            <img class="logo-img" src="systems/knave2e/assets/knave-2e-logo.png" title="Knave2eLogo" />
        </div>

        {{!-- Name & Careers --}}
        <div id="character-info">
            <div class="flexrow flex-group-left" id="dotted">
                <div class="resource-label flex1">Name</div>
                <input class="transparent flex3" name="actor.name" type="text" value="{{actor.name}}"
                    placeholder="{{actor.name}}" />
            </div>
            <div class="flexrow flex-group-left" id="dotted">
                <div class="resource-label flex1">Careers</div>
                <input class="transparent flex3" name="actor.careers" type="text" value="{{actor.careers}}"
                    placeholder="Alchemist, Cook, Sailor, etc." />
            </div>
        </div>

        {{!-- Abilities --}}
        <div id="character-abilities">
            {{#each system.abilities as |ability key|}}
            <div class="flexrow">
                <input class="flex1 flex-group-center" id="circle-form" type="number" name="system.abilities.{{key}}.value" value="{{ability.value}}"
                    data-dtype="Number" />
                <div class="flexcol flex3">
                    <div class="resource-label rollable" data-roll="d20+@abilities.{{key}}.value"
                        data-label="{{ability.label}}" style="justify-content:left">{{localize ability.label}}</div>
                    <div class="resource-label detail">{{localize ability.detail}}</div>
                </div>
            </div>
            {{/each}}
        </div>

        {{!-- HP --}}
        <div id="character-health">character-health</div>

        {{!-- Armor --}}
        <div id="character-armor">character-armor</div>

        {{!-- Level & XP --}}
        <div id="character-level">character-level</div>

        {{!-- Portrait --}}
        <div id="character-portrait">character-portrait</div>

        {{!-- Slots --}}
        <div id="character-slots">character-slots</div>
    </div>
    <footer>
        <div class="flexrow flex-group-center">
            <p style="font-size:smaller">Copyright &#169; 2023 <a href="https://www.patreon.com/questingbeast/posts">Ben
                    Milton and Questing Beast LLC.</a> Logo Design by <a
                    href="https://www.behance.net/MindkillerINK?locale=en_US">Tim Hastings</a>.</p>
        </div>
    </footer>
</form>