<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
    <div class="sheet-container">
        {{!-- Sheet Header --}}
        <header class="sheet-header">
            <div class="character-header-grid">

                {{!-- Knave Logo --}}
                <div class="knave-logo" style="min-width:150px">
                    <img class="logo-img" src="systems/knave2e/assets/knave-2e-logo.webp" />
                </div>

                {{!-- Character Header Info --}}
                <div class="character-info">
                    <div class="flexrow flex-group-left" id="dotted">
                        <div class="resource-label flex1">{{localize "KNAVE2E.Name"}}</div>
                        <input class="transparent flex3" name="name" type="text" value="{{actor.name}}"
                            placeholder="{{actor.name}}" />
                    </div>
                    <div class="flexrow flex-group-left" id="dotted">
                        <div class="resource-label flex1">{{localize "KNAVE2E.Careers"}}</div>
                        <input class="transparent flex3" name="system.careers" type="text" value="{{system.careers}}"
                            placeholder="Alchemist, Cook, Sailor, etc." />
                    </div>
                    <div class="flexrow flex-group-center flex-between" style="margin-top: 5px;">
                        <div class="flexcol flex-group-center">
                            <div class="resource-label small">{{localize "KNAVE2E.Coins"}}: </div>
                            <input class="resource-label transparent small" name="system.coins" value="{{system.coins}}"
                                data-dtype="Number" />
                        </div>
                        <div class="flexcol flex-group-center">
                            <div title="&#8804 {{system.abilities.constitution.value}}" class="resource-label small">
                                {{localize "KNAVE2E.Companions"}}
                            </div>
                            <input class="resource-label transparent small" name="system.companions.value"
                                value="{{system.companions.value}}" data-dtype="Number" />
                        </div>
                        <div class="flexcol flex-group-center">
                            <div class="resource-label small">{{localize "KNAVE2E.Movement"}}</div>
                            <input class="resource-label transparent small" name="system.movement"
                                value="{{system.movement}}" data-dtype="Number" />
                        </div>
                    </div>
                </div>
        </header>
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            {{!-- Default tab is specified in actor-sheet.mjs --}}
            <a class="item" id="tab-color" data-tab="character">{{localize "KNAVE2E.Character"}}</a>
            <a class="item" id="tab-color" data-tab="items">{{localize "KNAVE2E.Inventory"}}</a>
            <a class="item" id="tab-color" data-tab="description">{{localize "KNAVE2E.Description"}}</a>
        </nav>

        {{!-- Sheet Body --}}
        <section class="sheet-body">
            <div class="tab character" data-group="primary" data-tab="character">
                <div class="character-body-grid">
                    {{!-- Abilities --}}
                    <div class="character-abilities">
                        {{#each system.abilities as |ability key|}}
                        <div class="flexrow">
                            <input class="flex1 flex-group-center" id="circle-form" type="number"
                                name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number" />
                            <div class="flexcol flex3">
                                <div class="resource-label rollable crimson-pro-bold"
                                    data-roll="d20+@abilities.{{key}}.value" data-label="{{ability.label}}"
                                    style="justify-content:left;font-size:20px;">
                                    {{localize
                                    ability.label}}
                                </div>
                                <div class="resource-label crimson-pro-detail" style="font-weight:normal">{{{localize
                                    ability.detail}}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>

                    {{!-- Armor --}}
                    <div class="character-armor">
                        <div class="flexrow">
                            <div class="flex-group-center">
                                <div class="resource-label small">{{localize "KNAVE2E.ArmorClass"}}</div>
                                <div class="resource-label" id="shield-resource">
                                    {{system.armorClass}}
                                </div>
                            </div>
                            <div class="flex-group-center">
                                <div class="resource-label small">{{localize "KNAVE2E.ArmorPoints"}}</div>
                                <div class="resource-label" id="circle-resource">
                                    {{system.armorPoints}}
                                </div>
                            </div>
                        </div>
                    </div>

                    {{!-- Level & XP --}}
                    <div class="character-level">
                        <div class="flexrow flex-between">
                            <div class="flex-group-center">
                                <div class="resource-label small">{{localize "KNAVE2E.Level"}}</div>
                                <div class="resource-label" id="rounded-resource">
                                    {{system.level}}
                                </div>
                            </div>
                            <div class="flex-group-left">
                                <div class="resource-label small">{{localize "KNAVE2E.XP"}}</div>
                                <div class="progress-container" id="horizontal">
                                    <div class="progress-bar">
                                        <div class="progress-fill" style="width:{{system.xp.progress}}%"></div>
                                        <input class="progress-input resource-label" name="system.xp.value"
                                            value="{{system.xp.value}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{!-- HP --}}
                    <div class="character-health">
                        <div class="flexrow">
                            <div class="flex-group-center">
                                <div class="resource-label small">{{localize "KNAVE2E.HitPointsMax"}}</div>
                                <input class="resource-label transparent" id="rounded-resource"
                                    name="system.hitPoints.max" value="{{system.hitPoints.max}}"
                                    style="text-align:center" />
                            </div>
                            <div class="flex-group-center">
                                <div class="resource-label small">{{localize "KNAVE2E.WoundsMax"}}</div>
                                <div class="resource-label" id="rounded-resource">{{system.wounds.max}}</div>
                            </div>
                        </div>
                        <div class="flexrow">
                            <div class="progress-container" id="vertical">
                                <div class="progress-bar">
                                    <div class="progress-fill" style="height:{{system.hitPoints.progress}}%"></div>
                                    <input class="progress-input resource-label" name="system.hitPoints.value"
                                        value="{{system.hitPoints.value}}" />
                                </div>
                            </div>
                            <div class="progress-container" id="vertical">
                                <div class="progress-bar">
                                    <div class="progress-fill" style="height:{{system.wounds.progress}}%"></div>
                                    <input class="progress-input resource-label" name="system.wounds.value"
                                        value="{{system.wounds.value}}" />
                                </div>
                            </div>
                        </div>
                        <div class="flexrow">
                            <button class="flex-button rounded-button rest-button" type="button">{{localize "KNAVE2E.Rest"}}</button>
                        </div>
                    </div>

                    {{!-- Portrait --}}
                    <div class="character-portrait">
                        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" width="100%" />
                    </div>
                </div>
            </div>

            {{!-- Item Slots Tab --}}
            <div class="tab items" data-group="primary" data-tab="items">
                {{> "systems/knave2e/templates/actor/parts/actor-character-items.hbs"}}
            </div>

            {{!-- Description Tab --}}
            <div class="tab description" data-group="primary" data-tab="description">
                {{> "systems/knave2e/templates/actor/parts/actor-description.hbs"}}
            </div>

        </section>
        <footer>
            <div class="flexrow flex-group-center">
                <p style="font-size:smaller">Copyright &#169; 2023 <a
                        href="https://www.patreon.com/questingbeast/posts">Ben
                        Milton and Questing Beast LLC.</a> Logo Design by <a
                        href="https://www.behance.net/MindkillerINK?locale=en_US">Tim Hastings</a>.</p>
            </div>
        </footer>
    </div>
</form>