<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-fields">
            <div class="flexrow">
                <div id="logo-container">
                    <img class="logo-img" src="systems/knave2e/assets/knave-2e-logo.png" title="Knave2eLogo" />
                </div>
                <div class="flexcol">
                    <div class="flexrow flex-group-left" id="dotted">
                        <div class="resource-label flex1">Name</div>
                        <input class="transparent flex3" name="actor.name" type="text" value="{{actor.name}}"
                            placeholder="{{actor.name}}" />

                    </div>
                    <div class="flexrow flex-group-left" id="dotted">
                        <div class="resource-label flex1">Careers</div>
                        <input class="transparent flex3" name="actor.careers" type="text" value="{{actor.careers}}"
                            placeholder="Alchemist, Cook, Sailor, etc." />
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="sheet-body">
        <div class="flexrow">
            {{!-- Left Pane --}}
            <section class="flex2" id="character-body-left">
                {{#each system.abilities as |ability key|}}
                <div class="ability flexrow flex-group-center">
                    <div id="ability-values">
                        <input id="circle-form" type="text" name="system.abilities.{{key}}.value"
                            value="{{ability.value}}" data-dtype="Number" />
                    </div>
                    <div id="ability-text">
                        <div class="ability flexcol flex-group-left items-start">
                            <div class="resource-label rollable" data-roll="d20+@abilities.{{key}}.value"
                                data-label="{{ability.label}}">{{localize ability.label}}</div>
                            <div class="resource-label detail">{{localize ability.detail}}</div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </section>

            {{!-- Mid Pane --}}
            <section class="flex1" id="character-body-mid">
                <div class="flexrow">
                    <div class="flex-group-center">
                        <div id="ability-text">
                            <div class="resource-label small">AC</div>
                        </div>
                        <div class="resource-label" id="shield-resource">
                            {{system.armorClass}}
                        </div>
                    </div>
                    <div class="flex-group-center">
                        <div id="ability-text">
                            <div class="resource-label small">AP</div>
                        </div>
                        <div class="resource-label" id="circle-resource">
                            {{system.armorPoints}}
                        </div>
                    </div>
                </div>
            </section>

            {{!-- Right Pane --}}
            <section class="flex2" id="character-body-right">
                <div class="flexrow">
                    <div class="flex-group-center">
                        <div id="ability-text">
                            <div class="resource-label small">Level</div>
                        </div>
                        <div class="resource-label" id="circle-resource">
                            {{system.level}}
                        </div>
                    </div>
                    <div class="flex-group-center">
                        <div class="flexrow flex-group-left" id="dotted">
                            <div class="resource-label small">XP: </div>
                            <input class="transparent" type="text" name="system.xp.value" value="{{system.xp.value}}"
                                data-dtype="Number" />
                        </div>
                        <progress class="progress xp" max="100" value="{{system.xp.progress}}">
                        </progress>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <footer>
        <div class="flexrow flex-group-center">
            <p style="font-size:smaller">Copyright &#169; 2023 <a href="https://www.patreon.com/questingbeast/posts">Ben
                    Milton and Questing Beast LLC.</a> Logo Design by <a
                    href="https://www.behance.net/MindkillerINK?locale=en_US">Tim Hastings</a>.</p>
        </div>
    </footer>
</form>
{{log actor}}
{{log system.abilities}}