<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
    <div class="sheet-container">
        <div class="vehicle-grid">

            {{!-- Sheet Header --}}
            <header class="header">

                {{!-- Vehicle Image --}}
                <div class="image">
                    <div class="flexcol no-wrap">
                        <div class="resource-label align-center">{{localize "KNAVE2E.Portrait"}}</div>
                        <img class="rounded" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" width="100%" />
                    </div>
                </div>

                {{!-- Character Header Info --}}
                <div class="info">
                    <div class="flexrow no-wrap flex-between flex-group-left dotted name">
                        <div class="resource-label flex1">{{localize "KNAVE2E.Name"}}</div>
                        <input class="transparent flex3 no-border detail name" name="name" type="text"
                            value="{{actor.name}}" placeholder="{{actor.name}}" />
                    </div>
                    <div class="grid grid-3col no-wrap flex-between flex-group-center" style="margin-top: 5px;">
                        <div class="grid-span-1 flexcol no-wrap flex-group-center info-2">
                            <a class="resource-label actor-button check">{{localize "KNAVE2E.Crew"}}</a>
                            <input class="resource-label content narrow" type="text" name="system.crew"
                                value="{{system.crew}}" data-dtype="Number" />
                        </div>
                        <div class="grid-span-1 flexcol no-wrap flex-group-center cost">
                            <a class="resource-label actor-button check">{{localize "KNAVE2E.Cost"}}</a>
                            <input class="resource-label content narrow" type="text" name="system.cost"
                                value="{{system.cost}}" data-dtype="Number" />
                        </div>
                        <div class="grid-span-1 flexcol no-wrap flex-group-center coins">
                            <div class="resource-label">{{localize "KNAVE2E.Stored"}} {{localize "KNAVE2E.Coins"}}</div>
                            <input class="resource-label content narrow" type="text" name="system.coins"
                                value="{{system.coins}}" data-dtype="Number" />
                        </div>
                    </div>
                    <div class="resources flexrow flex-group-center" style="margin-top:5px;">
                        <div class="grid grid-3col flex-group-center">
                            <div class="resource-label grid-span-3 align-center">{{localize "KNAVE2E.Slots"}}</div>
                            <i class="fa-solid fa-weight-hanging grid-span-1 align-right"></i>
                            <div class="resource-label grid-span-1 align-center">{{system.slots.value}}
                                <span>/</span>
                                <input class="resource-label content character" type="text" name="system.slots.max"
                                    value="{{system.slots.max}}" data-dtype="Number" />
                            </div>
                        </div>
                        <div class="grid grid-3col flex-group-center">
                            <div class="resource-label grid-span-3 align-center">{{localize "KNAVE2E.Stored"}}
                                {{localize "KNAVE2E.AmmoBow"}}</div>
                            <i class="fa-solid fa-arrow-up-long grid-span-1 align-right"></i>
                            <input class="resource-label narrow content grid-span-1 align-center" type="text"
                                name="system.ammo.arrow" value="{{system.ammo.arrow}}" data-dtype="Number" />
                        </div>
                        <div class="grid grid-3col flex-group-center">
                            <div class="resource-label grid-span-3 align-center">{{localize "KNAVE2E.Stored"}}
                                {{localize "KNAVE2E.Sling"}} {{localize
                                "KNAVE2E.AmmoSling"}}
                            </div>
                            <i class="fa-solid fa-baseball grid-span-1 align-right"></i>
                            <input class="resource-label narrow content grid-span-1 align-center" type="text"
                                name="system.ammo.bullet" value="{{system.ammo.bullet}}" data-dtype="Number" />
                        </div>
                    </div>
            </header>

            {{!-- Sheet Body --}}
            <section class="sheet-body">
                <div class="items">
                    <ol class="items-list">
                        <li class="knave-item grid grid-12col items-header">
                            <div class="resource-label item-name-header grid-span-8">{{localize "KNAVE2E.ItemName"}}
                            </div>
                            <div class="resource-label item-slots-header grid-span-1">{{localize "KNAVE2E.Slots"}}</div>
                            <div class="resource-label item-slots-header grid-span-1">{{localize
                                "KNAVE2E.QuantityAbbr"}}</div>
                            <div class="resource-label item-controls-header grid-span-2">
                                <a class="item-control item-create" title="Create item" data-type="item"><i
                                        class="fas fa-plus"></i> Add
                                    item</a>
                            </div>
                        </li>
                        {{#each items as |item id|}}
                        <li class="knave-item grid grid-12col {{#if system.dropped}}dropped{{/if}}"
                            data-item-id="{{item._id}}">
                            <div class="item-progress-wrapper grid grid-span-12 grid-12col">
                                <div class="item-progress-fill grid grid-span-12 grid-12col"
                                    style="width: {{#if item.system.dropped}}100{{else}}{{item.system.progress}}{{/if}}%;">
                                </div>
                                <div class="item-progress-content grid grid-span-12 grid-12col">
                                    <div class="item-image"><a class="item-image item-name grid-span-1"><img
                                                src="{{item.img}}" title="{{item.name}}" width="36" height="36" /></a>
                                    </div>

                                    <a class="item-name detail grid-span-7">{{#if item.system.dropped}}({{localize
                                        "KNAVE2E.Dropped"}})
                                        {{/if}}{{item.name}}</a>

                                    <div class="item-slots grid-span-1 item-prop">{{item.system.slots}}</div>
                                    <div class="item-slots grid-span-1 item-prop">
                                        <div class="grid-span-3 flexrow flex-group-center">
                                            <a class="item-toggle quantity" data-action="decrement">
                                                <i class="fas fa-caret-down"></i></a>
                                            <div class="item-prop">{{item.system.quantity}}</div>
                                            <a class="item-toggle quantity" data-action="increment">
                                                <i class="fas fa-caret-up"></i></a>
                                        </div>
                                    </div>
                                    <div class="item-controls grid-span-2">
                                        {{#if (eq item.type "weapon")}}
                                        <a class="item-toggle" data-action="break"
                                            title={{localize "KNAVE2E.BreakWeaponDetail" }}>
                                            <i
                                                class="fas {{#if item.system.broken}}fa-heart-broken{{else}}fa-heart{{/if}}"></i></a>
                                        {{/if}}
                                        {{#if (eq item.type "spellbook")}}
                                        <a class="item-toggle" data-action="cast"
                                            title={{localize "KNAVE2E.CastSpellbookDetail" }}>
                                            <i
                                                class="fas {{#if item.system.cast}}fa-book-open{{else}}fa-book{{/if}}"></i></a>
                                        {{/if}}
                                        {{#if (eq item.type "lightSource")}}
                                        <a class="item-toggle" data-action="light"
                                            title={{localize "KNAVE2E.ActivateLightSourceDetail" }}>
                                            <i
                                                class="{{#if item.system.lit}}fas fa-lightbulb{{else}}far fa-lightbulb{{/if}}"></i></a>
                                        {{/if}}
                                        <a class="item-control item-edit" title="Edit Item"><i
                                                class="fas fa-edit"></i></a>
                                        <a class="item-control item-delete" title="Delete Item"><i
                                                class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>
            </section>
            <footer class="footer">
                <div class="flexrow no-wrap flex-group-center ">
                    <p style="font-size:smaller">Copyright &#169; 2023 <a
                            href="https://www.patreon.com/questingbeast/posts">Ben
                            Milton and Questing Beast LLC.</a> Logo Design by <a
                            href="https://www.behance.net/MindkillerINK?locale=en_US">Tim Hastings</a>.</p>
                </div>
            </footer>
        </div>
    </div>
</form>