{{title}}

{{#if data.hasDescription}}
  <hr />
  <div class="renderedHTML" style="margin-top: 5px">
    {{{data.description}}}
  </div>
  <hr />
{{/if}}

{{#if data.buttons}}
  <div class="item-roll dice-roll flexcol flex-row-center">
    <div class="dice-result">
      <div class="dice-formula">{{rolls.0.formula}}</div>
      {{{rolls.0.toolTip}}}
      <h4 class="dice-total flex-row-center">{{rolls.0.total}}</h4>
    </div>
  </div>
  <div class="item-roll flexrow flex-row-center" style="margin-top: 5px;">
    <button
      class="item-button damage chat"
      data-action="damage"
      data-item-id="{{data.item}}"
      data-actor-id="{{data.actor}}"
      type="button"
    >{{localize "KNAVE2E.Damage"}}</button>
    {{#if data.character}}
      <button
        class="item-button damage chat"
        data-action="direct"
        data-item-id="{{data.item}}"
        data-actor-id="{{data.actor}}"
        type="button"
      >{{localize "KNAVE2E.Direct"}}</button>
    {{/if}}
  </div>

{{else}}
  <div class="item-roll dice-roll flexcol flex-row-center">
    <div class="dice-result">
      <div class="dice-formula">{{rolls.0.formula}}</div>
      {{{rolls.0.toolTip}}}
      <h4 class="dice-total">{{rolls.0.total}}</h4>
    </div>
  </div>
{{/if}}