<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div id="item-header-grid">
      <div id="item-img">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
      </div>
      <div id="item-info">
        <div class="flexrow">
          <div class="flexcol flex-group-center">
            <div class="resource-label">{{localize "WEAPON.WeaponType"}}</div>
            <select name="system.category">{{selectOptions weaponCategories selected=system.category
              localize=true}}</select>
          </div>
          <div class="flexcol flex-group-center">
            <div class="resource-label">{{localize "WEAPON.Range"}}</div>
            <input class="resource-label transparent small" name="system.range" value="{{system.range}}"
              data-dtype="Number" />
          </div>
          <div class="flexcol flex-group-center">
            <div class="resource-label">{{localize "WEAPON.AmmoType"}}</div>
            <select name="system.ammoType">{{selectOptions ammoCategories selected=system.ammoType
              localize=true}}</select>
          </div>
        </div>
        <div class="flexrow" style="padding-top:5px">
          <div class="flexcol flex-group-center">
            <div class="resource-label">{{localize "WEAPON.DamageDiceAmount"}}</div>
            <input class="resource-label transparent small" name="system.damageDiceAmount"
              value="{{system.damageDiceAmount}}" data-dtype="Number" />
          </div>
          <div class="flexcol flex-group-center">
            <div class="resource-label">{{localize "WEAPON.DamageDiceSize"}}</div>
            <select name="system.damageDiceSize">{{selectOptions damageDiceCategories
              selected=system.damageDiceSize localize=true}}</select>
          </div>
          <div class="flexcol flex-group-center">
            <div class="resource-label">{{localize "WEAPON.DamageDiceBonus"}}</div>
            <input class="resource-label transparent small" name="system.damageDiceBonus"
              value="{{system.damageDiceBonus}}" data-dtype="Number" />
          </div>
        </div>
      </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div id="item-body-grid">
      <div id="item-aside">
        <div class="flexcol">
          <div class="flexrow flex-group-left">
            <div class="resource-label">{{localize "ACTOR.Slots"}}</div>
            <input class="resource-label transparent small" name="system.slots" value="{{system.slots}}"
              data-dtype="Number" />
          </div>
          <div class="flexrow flex-group-left">
            <div class="resource-label">{{localize "ITEM.Cost"}}</div>
            <input class="resource-label transparent small" name="system.cost" value="{{system.cost}}"
              data-dtype="Number" />
          </div>
          <div class="flexrow flex-group-left">
            <div class="resource-label">{{localize "ITEM.Relic"}}</div>
            <input type="checkbox" name="system.relic" {{checked system.relic}}>
          </div>
        </div>
      </div>
    </div>
    <div id="item-description">
      {{editor world.description target="system.description" button=false engine="prosemirror" collaborate=false}}
    </div>
    </div>
  </section>
</form>

{{log item}}